<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">



            <ol class="breadcrumb">
                <li>
                    <a href="/">
                        <span class="fa fa-home"></span> 首頁
                    </a>
                </li>
                <li class="active">產品列表</li>
            </ol>






        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->






<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <a (click)="show('p01')" href="/show?id=p01" class="thumbnail">
                <img src="assets/imgs/carrot.jpg" alt="">
                <div class="caption">
                    <h2 class="ellipsis">香甜蘿蔔</h2>
                    <p class="ellipsis">由2000全國蘿蔔大賽冠軍ＸＸＸ所耕種的蘿蔔，運用其超過20年的耕種資歷，所種出的蘿蔔口感爽脆、味道香甜，不論入菜或是涼拌都是不錯的選擇</p>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-4">
            <a (click)="show('p02')" href="/show?id=p02" class="thumbnail">
                <img src="assets/imgs/watermelon.jpg" alt="">
                <div class="caption">
                    <h2 class="ellipsis">香甜西瓜</h2>
                    <p class="ellipsis">由2000全國西瓜大賽冠軍ＸＸＸ所耕種的西瓜，運用其超過20年的耕種資歷，所種出的西瓜口感爽脆、味道香甜，不論入菜或是涼拌都是不錯的選擇</p>
                </div>
            </a>
        </div>

        <!-- <div class="col-xs-12 col-sm-4" *ngFor="let item of products; index as i">
            <a (click)="show(item)" href="/show" class="thumbnail">
                <img src="{{item.image}}" alt="">
                <div class="caption">
                    <h2 class="ellipsis">{{item.name}}</h2>
                    <p class="ellipsis">{{item.discription}}</p>
                </div>
            </a>
        </div> -->

    </div>
    <!-- Row -->
</div>
<!--Container -->