<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">


            <ol class="breadcrumb">
                <li class="active">
                    <span class="fa fa-home"></span> 首頁
                </li>
            </ol>


        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-9">
            <h2 class="text-center big-title">現正熱銷</h2>
            <hr>
        </div>
    </div>
    <!-- Row -->
</div>
<!--Container -->



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3">

            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" id="headingOne">
                        <h2 class="panel-title">
                            <a routerLink="/about" class="btn btn-link collapsed" type="button" data-parent="#accordion2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            關於我們
                        </a>
                        </h2>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingTwo">
                        <h2 class="panel-title">
                            <a class="btn btn-link collapsed" type="button" data-parent="#accordion2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            產品列表
                        </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                        <div class="panel-body">
                            <li *ngFor="let product of productlists; index as i">
                                <a (click)="show(product.product_id)" href="/show?id={{product.product_id}}">{{product.name}}</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingThree">
                        <h2 class="panel-title">
                            <a class="btn btn-link collapsed" type="button" data-parent="#accordion2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            使用者
                        </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                        <div class="panel-body">
                            <li *ngIf="!user"><a class="nav-item nav-link" routerLink="/account/login" routerLinkActive="active">登入</a></li>
                            <li *ngIf="!user"><a class="nav-item nav-link" routerLink="/account/register" routerLinkActive="active">註冊</a></li>
                            <li *ngIf="user"><a class="nav-item nav-link" href="/" (click)="logout()">登出</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-xs-12 col-sm-9">


            <div class="row">
                <div class="col-xs-12 col-sm-4" *ngFor="let product of productlists; index as i">
                    <div class="thumbnail">
                        <img src="{{product.image}}" alt="">
                        <div class="caption">
                            <h2 class="ellipsis">{{product.name}}</h2>
                            <p class="ellipsis">{{product.discription}}</p>
                            <div class="text-right">
                                <a (click)="show(product.product_id)" href="/show?id={{product.product_id}}">閱讀更多>></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->


        </div>