.breadcrumb {
    margin: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.breadcrumb>li>a {
    text-decoration: none;
}

.breadcrumb {
    margin: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.breadcrumb>li>a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.big-title {
    font-weight: bold;
}

.card-title {
    font-size: 35px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-right>a {
    color: rgba(100, 100, 100, 1);
    font-weight: bold;
    text-decoration: none;
}

.text-right>a:hover,
.text-right>a:focus {
    color: rgba(50, 50, 50, 1);
}

.imgmax200 {
    margin-bottom: 20px;
}

@media screen and (min-width:768px) and (max-width: 1200px) {
    .panel-group {
        display: block;
    }
}

@media screen and (max-width:1200px) {
    .panel-group {
        display: none;
    }
}

.panel-group {
    margin: 30px 25px;
}

.panel-title>a,
.panel-body>li>a {
    color: rgba(100, 100, 100, 1);
    font-weight: bold;
    text-decoration: none;
}

.panel-title>a:hover,
.panel-title>a:focus,
.panel-body>li>a:hover,
.panel-body>li>a:focus {
    color: rgba(50, 50, 50, 1);
}