.form-main {
    border-radius: 10px;
    overflow: hidden;
    background: #eee;
    margin: 60px 0px;
    font-family: 'cwTeXFangSong', serif;
    padding: 30px;
}

.form-group>label {
    padding: 5px;
}

.form-button {
    margin: 30px 0px;
}

.signUp {
    color: rgba(100, 100, 100, 1);
    font-weight: bold;
}

.signUp>a {
    text-decoration: none;
}

.btn-transparent {
    color: rgba(8, 8, 8, 0.5);
    background-color: rgba(8, 8, 8, 0);
    border-color: rgba(8, 8, 8, 0.5);
    font-weight: bold;
    transition: 0.3s;
}

.btn-transparent:focus,
.btn-transparent:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 8, 8, 0.8);
    border-color: rgba(8, 8, 8, 1);
    font-weight: bold;
}
